*{
	box-sizing: border-box;	/*pour ne pas tenir compte des tailles supplémentaires (bordures, etc)*/
    scroll-behavior: smooth; /*fluidifier le scroll*/
	word-wrap: break-word;
}
a{
	text-decoration: none ;/*enleve le soulignement en bleu a tous les liens*/
}
ul{
	list-style-type:none;	/*enleve les puces*/
}


@font-face {/*integre la police dans le dossier "Polices"*/
	font-family:"brandish";
	src: url("Polices/brandishregular.ttf");
}
/*Deux animations lancées lors de l'ouverture de la page "accueil".*/
@keyframes animTitre {
  0%   {top:-200px;}
  100% {top:20%;}
}
@keyframes animBandeau {
  0%   {bottom:-100px;}
  100% {bottom:0;}
}


/*mise en page du corps de page*/
body {
	font-family: "Bitstream Vera Serif Bold", serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;  
    margin:0;
    padding:0;
    background-size: 100% ;
}
/*mise en page de la page d'accueil, puis des autres pages.
utilisation du before pour pouvoir ensuite "flouter" l'image sur les autres liens*/
body#pageAccueil:before {
	content: "";/*pas de contenu nécessaire ici*/
	position: fixed;/*de cette manière, le fond ne se réduit pas en fonction de la taille de la fenêtre du navigateur*/
	height: 100%; 
	width: 100%;
	background: url("img/fond.jpeg");
	background-size: cover;
	background-position: top center;
	z-index: -1; /* Keep the background behind the content */     
}
body#pageTexte:before {
	content: "";/*pas de contenu nécessaire ici*/
	position: fixed;
	height: 100%; 
	width: 100%;
	background: url("img/fond.jpeg");
	z-index: -1; /* garder le background à l'arrière plan */     
	-webkit-filter: blur(80px);	/*effet de flou !*/
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
#pageAccueil #bandeau{	/*prépare aux animations du bandeau sur la page d'accueil*/
	animation-name: animBandeau;
	animation-duration: 1s;
    animation-fill-mode: forwards;/*ne la lance qu'une fois, et conserve paramètres !*/
}

.titreSite{
 	background-color: rgba(255,255,255,0.4);
	width: 100%; 
	height : 150px;
	position: relative;
	line-height: 150px;

	/*même type d'animation que ci dessus*/
	animation-name: animTitre;
	animation-duration: 2s;
    animation-fill-mode: forwards;
}
.titreSite h1{
	font-size:3.5em;
	font-family: Brandish, Arial;
	color:white;
	text-align: center;
}


/*mise en page du bandeau*/
#bandeau {
	background : linear-gradient(to top,black,20%,#184969);
	/*bandeau avec un dégradé du noir vers la couleur du site (#184969), vers le haut*/

	width: 100%; 
	height : 85px;
	position:fixed;
	bottom:0;
	left:0;
	z-index: 1000;/*fait passer le bandeau au premier plan*/
}
#bandeau>ul{	
	padding: 0;
	margin:0;
	height: 100%;

    display: flex;/*utilisation de flexbox pour disposer correctement le menu*/
    justify-content: center;
}
#bandeau ul>li {
	text-align: center;
	line-height: 85px;
	width:100%;
}
#bandeau>ul>li {
    border-right: 1px solid white;	/*Trait de séparation Blanc*/
}
#bandeau>ul>li:last-child{
    border-right: 0px solid white;/*On supprime le dernier trait de séparation*/
}
#bandeau li>a{
	display: block;	/*on fait cela pour que toute la case soit cliquable*/
	font-size: 20px;
	color:#7d8791;
	font-family: "Arial";
}
#bandeau #pageCourante>a {
	/*on change la police et la taille de la page courante*/
	font-family: Brandish,serif;
	color:white;
	font-size: 20px;
}
#bandeau ul ul {
	display: block;
	padding:0;
	margin:0;
    background-color:#0a1e2b;

    border-radius: 40px 10px 0 0;	/*applique un arrondi à la premiere box*/
	display:none;
}
#bandeau ul ul a {
	display: block;
	font-size: 20px;
	color:white;
	width: 100%;    
}
#bandeau ul ul li:nth-child(1){
    border-radius: 40px 10px 0 0;	/*applique l'arrondi du dessus*/
}
#bandeau li:hover>a{
	color: white;
    font-weight: bold;
}
#bandeau ul ul li:hover{
	background-color : rgba(180,180,180,0.2);
}
#bandeau>ul>li:hover{
	background-color: #184969;
}
#bandeau li:hover ul{/*cela concerne le menu déroulant */
	display: block;
	position:relative;
	top:-400%;/*on fait cela car il faut que les rubriques du menu déroulant soient
	au dessus du menu. Il y a à chaque fois 3 cases. on fait donc -400% puisque la 
	position initiale top:0; est en bas à gauche de la rubrique du menu concernée ; 
	on fait : top = - 1 * 100% - 3*100% 
	1 pour remonter au dessus de la rubrique du menu
	3 pour le nombre de rubriques du menu déroulant*/
}



/*mise en page du corps de page*/
#corpsDePage {
	background-color : rgba(255,255,255,0.1) ;
	border: 1px solid white;
	border-radius:20px;
	width : 1100px;
	min-height : 200px;	/*pour pas que le corps de page soit trop petit*/
	margin : auto ;
	display:flex;	/*permet ensuite de faciliter la mise en page des sections*/
	flex-direction:column;
	margin-top: 50px;
	margin-bottom:300px;
}
#corpsDePage section{
	border-radius:20px;
	background-color : rgba(255,255,255,0.2) ;
	width : 950px;
	min-height : 300px;
	margin:20px auto;
	padding:50px 50px;
	border: 5px solid white;
}
#corpsDePage .texte{
	width: 90%;				/*ici, on aurait également pu faire un padding de 5% à droite et gauche*/
	min-height : 500px;
	color: white;
	font-family: Arial;
	font-size: 1.3em;
	text-align: justify;	/*le mode justifié donne un rendu plus propre*/
	margin:auto;
}
#corpsDePage>h1	/*Titre des pages*/
{
	color: white;
	font-family: Arial;
	font-size: 2.5em;
	font-weight:bolder;
	margin:50px 0;	/*marge de 50px en haut et en bas*/
	text-align: center;
	text-shadow: 2px 3px 5px rgba(0,0,0,1);	/*donne du relief*/
}
#corpsDePage section h2	/*Titre des sections*/
{
	color: white;
	font-family: Arial;
	font-weight:bold;
	margin:40px 0px;/*marge de 40px en haut et en bas*/
	padding-left: 10px;
	text-shadow: 2px 3px 5px rgba(0,0,0,1);
	border-left: 5px solid white;
}
#corpsDePage p
{
	text-indent: 3em;	/*Alinéas*/
}
#corpsDePage img,iframe {	/*images */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;	/*on bloque la taille à 350 px en largeur*/
  transition:all .3s;	/*pour un effet animé lors du hover (voir plus bas)*/
}
#corpsDePage figure figcaption{
	font-style: italic;
	color: white;
	font-family: Arial;
	font-size: 0.9em;
	text-align: center;
	margin-top: 12px;
}
#corpsDePage iframe{/*vidéos intégrées*/
	height: 600px;
	width: 100%;
}
#corpsDePage .imgUnique{
    display: block;
	margin: auto;
}
#corpsDePage .imgMultiples{
	display: flex;
    width: 100%;
    justify-content: space-around;
	align-items: center;
}
#corpsDePage .imgMultiples a{
	display: block;
	max-width: 30%;
    height: 100%;
}
#corpsDePage .imgMultiples a img{
	width: 100%;
    height: 100%;
}
#corpsDePage blockquote{
	font-style: italic;
}
#corpsDePage .italique{
	font-style: italic;
}
#corpsDePage iframe:hover,#corpsDePage .imgMultiples img:hover {
	box-shadow: 0 0 2px 6px rgba(255, 255, 255, 0.5);/*animation ici !*/
}
#corpsDePage .imgUnique:hover {
	width: 70%;/*anim d'agrandissement de l'image*/
	box-shadow: 0 0 2px 6px rgba(255, 255, 255, 0.5);/*animation ici !*/
}


/*mise en forme d'un texte d'intro quelconque*/
.texteSimple{
	width: 90%;
	color: white;
	font-family: Arial;
	font-size: 1.3em;
	text-align: justify;
}



footer{
	width: 100%;
	height:300px;
	display: block;
	background-color: rgba(5, 15, 22,0.7);
	padding-top:70px;
}
footer .texteSimple{
	width: 100%;
	text-align: center;
}
footer a{
	color: white;
	transition:all .3s;/*gestion des animations*/
}
footer a:hover{/*quand on passe la souris sur une case de liens ... */
	background-color: rgba(255,255,255,0.5);
}







/*mise en forme des tableaux*/
table
{
	margin-top: 50px;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid white;
}
table *{
    color: white;	/*police blanche pour tout le tableau*/
}
table caption{/*titre du tableau*/
	font-size:1.5em;
	margin-bottom:10px;
	font-weight: bold;
}

/*on gère la place que prend chaque colonne*/
thead th:nth-child(1) {
	width: 40%;
}
thead th:nth-child(2) {
	width: 30%;
}
thead th:last-child {
	width: 30%;
}

thead th{/*titres des rubriques*/
	background-color: rgb(10,30,43);
	border: 3px solid white;
	font-family: Brandish, Arial;
	font-weight: bold;
}
thead th, td {
	padding: 20px;
}
tbody td {
	text-align: center;
	transition:all .3s;/*gestion des animations*/
}
tbody .caseRub {/*gestion des grosses cases de l'onglet "Rubrique"*/
	border: 3px solid white;
	font-size:2em;
	font-weight: bold;
}
tbody tr:nth-child(odd){/*applique une telle couleur aux cases à numéro impair*/
	background-color: #216693;
}
tbody tr:nth-child(even){/*applique une telle couleur aux cases à numéro pair*/
	background-color: #1d577e;
}
tbody .caseRub{
	background-color: #133b54;
}
tr td:last-child:hover{/*quand on passe la souris sur une case de liens ... */
	background-color: rgba(255,255,255,0.5);
}





/* RESPONSIVE DESIGN très simple, permettant la lisibilité lors de 
l'utilisation de supports à résolutions inférieures à 1300px */
@media screen and (max-width: 1300px)
{
	#bandeau li>a,
	#bandeau #pageCourante>a,
	#bandeau>ul>li>ul>li>a
	{/*on réduit la taille de la police pour que cela ne dépasse pas des cases*/
		font-size: 15px;
	}
}